body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.profile-content::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
          linear-gradient(180deg, rgba(100, 88, 5, .5) 0, rgba(100, 88, 5, .5) 80%),
  url("/iewek-gnos-unsplash.jpg") 50% no-repeat;
  background-size: cover;
  z-index: -1;
}

.header-item {
  font-size: 24px;
  font-weight: 500;
}

.row {
  width: 33.33%;
}

.skill-box {
  background-color: #fff;
  border: 1px solid var(--chakra-colors-orange-100);
  border-radius: 2rem;

  position: relative;
  top: 0;
  transition: ease 0.5s;
}

.skill-box:hover {
  top: -10px;
}

.row-content {
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  opacity: 0.8;
  max-width: 16rem;
  padding: 2rem 0 2rem 0;

  height: 130px;
}

#skills-row-box > .row {
  width: 30%;
}

.skill-box .row-content {
  align-items: center;
  gap: 1rem;
  height: max-content;
  opacity: 1;
}

.react-icons {
  font-size: 40px;
}

.header--white {
  background-color: var(--chakra-colors-orange-50) !important;
  color: rgba(0, 0, 0, 0.8) !important;
  z-index: 999;

  transition: ease 0.2s;
}

#header {
  transition: ease 0.2s;
}

#about, #skills, #projects {
  max-width: 71.25rem;
  padding: 1.5rem 2rem;
}

.project-box {
  background-color: #fff;
  border: 1px solid var(--chakra-colors-orange-100);
  border-radius: 2rem;

  position: relative;
}