body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.profile-content::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
          linear-gradient(180deg, rgba(100, 88, 5, .5) 0, rgba(100, 88, 5, .5) 80%),
  url("/iewek-gnos-unsplash.jpg") 50% no-repeat;
  background-size: cover;
  z-index: -1;
}

.row {
  width: 33.33%;
}

.row-content {
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  opacity: 0.8;
  max-width: 16rem;
}

.react-icons {
  font-size: 40px;
}